@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: #ffffff !important;
}

.dark-mode {
  background-color: rgb(19, 18, 18) !important;
  color: white;
}

#btn-dark {
  display: none;
}

section {
    margin-top: 50px;
}

/* footer */

footer {
    padding:40px 0;
    background-color:#5e0404;
    color:#ffffff;
    margin-top: 22vh;
  }
  
  footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  footer li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  footer ul a:hover {
    opacity:1;
  }
  
  footer .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  footer .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  footer .social > a:hover {
    opacity:0.9;
  }
  
  footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(255, 255, 255);
    margin-bottom:0;
  }

  /* RESPONSIVIDADE */


@media only screen and (max-width: 600px) {

    #btn-dark {
      display: flex;
      justify-content: end;
      cursor: pointer;
    }
  
    #navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  
    #btn-menu{
      margin-bottom: 10px;
    }

    footer {
        margin-top: 30vh;
    }
  }
  
  @media only screen and (max-width: 800px) {
  
    #btn-dark {
      display: flex;
      justify-content: end;
      cursor: pointer;
    }
  
    #navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    footer {
        margin-top: 42.6vh;
    }

   }

   @media only screen and (min-width: 820px) {
  
    #btn-dark {
      display: flex;
      justify-content: end;
      cursor: pointer;
    }
  
    #navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    footer {
        margin-top: 38.2vh;
    }
 }